<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Tsoha App</title>
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="#">Laskutori</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Page 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Page 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Page 3</a>
      </li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-8">
      <h1>Tervetuloa laskutoriin!</h1>
      
  
      
        {% if session.user_id %}
        Olet kirjautunut sisään.
        <a href="/logout"> Kirjaudu ulos</a>
        {% else %}
      </div>
      <div class="col-6">
        <a href="/login"><button type="submit" class="btn btn-primary">Kirjaudu</button></a>
      </div>
    

    <a href="/register">  <button type="submit" class="btn btn-primary">Tee Käyttäjä</button> </a>
  </div>
        {% endif %}

    <div class="col-4">
      <h2>Myynti-ilmoitukset</h2>
      <ul>
          <li>Sepon sukset</li>
          <li>Artun sukset</li>
          <li>Maurin sukset</li>
      </ul>
    </div>
  </div>
</div>

