<!doctype html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Laskutori</title>
</head>

<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="#">Laskutori</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Kategoriat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Suosikit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Kommentit</a>
      </li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-8">
      <h1>Tervetuloa laskutoriin!</h1>
        {% if session.user_id %}
        Olet kirjautunut sisään.
        <a href="/logout"><button type="submit" class="btn btn-primary">Kirjaudu ulos</button></a>
        <a href="/newpost"><button type="submit" class="btn btn-primary">Jätä ilmoitus</button></a>
        {% else %}
      </div>
      <div class="col-6">
        <a href="/register">  <button type="submit" class="btn btn-primary">Tee Käyttäjä</button> </a>
        <a href="/login"><button type="submit" class="btn btn-primary">Kirjaudu</button></a>
    </div>
    </div>
    {% endif %}

        {% for post in posts%}
    <div class="row row-cols-2 row-cols-2">  
      <div class="col mb-4">
        <div class="card ">
          <img src="https://images.unsplash.com/photo-1551698618-1dfe5d97d256?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{post[0]}}</h5>
            <h6 class="card-subtitle mb-2 text-muted text-truncate"><i>Ilmoittaja:  </i>{{post[2]}}</h6>
            <p class="card-text text-truncate">{{post[1]}}</p>
            <a href="#" class="card-link">Avaa isommaksi</a>
            <form action="" method="POST">
            <a href="/favourite" class="card-link">Lisää suosikkeihin</a>
          </form>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{post[3].strftime("%Y-%m-%d %H:%M:%S") }}</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>


