{% extends "layout.html"%}
{% block content %}

Julkaisu isompa
    

<div class="row row-cols-2 row-cols-2">  
    {% for x in result %}
      <div class="col mb-4">
        <div class="card ">
          <img src="https://images.unsplash.com/photo-1551698618-1dfe5d97d256?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{x[0]}}</h5>
            <h6 class="card-subtitle mb-2 text-muted text-truncate"><i>Ilmoittaja:  </i>{{x[2]}}</h6>
            <p class="card-text text-truncate">{{x[1]}}</p>
            <form action="/post" method="POST">
              <input type="hidden" name="id" value={{x[5]}}>
              <input type="submit" value="Avaa isommaksi">
          </form>
  
            <form action="/favourite" method="POST">
              <input type="hidden" name="post" value={{x[0]}}>
              <input type="submit" value="Poista suosikeista">
          </form>
          
          </div>
          <div class="card-footer">
            <small class="text-muted">{{x[3].strftime("%Y-%m-%d %H:%M:%S") }}</small>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>







{% endblock %}




