{% extends "layout.html"%}
{% block content %}
<div class="text-center"><h3>Täällä ovat julkaisusi</h3></div> 

{% if session.user_id %}
<div class="row row-cols-2 row-cols-2">  
  {% for post in posts %}
    <div class="col mb-4">
      <div class="card ">
        <img src="https://images.unsplash.com/photo-1551698618-1dfe5d97d256?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post[0]}}</h5>
          <h6 class="card-subtitle mb-2 text-muted text-truncate"><i>julkaisija:  </i>Sinä</h6>
          <p class="card-text text-truncate">{{post[1]}}</p>
          <a href="#" class="card-link">Avaa isommaksi</a>

          <form action="/del_post" method="POST">
            <input type="hidden" name="post" value={{post[2]}}>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="submit" value="Poista Julkaisu">
        </form>
        
        </div>
        <div class="card-footer">
          <small class="text-muted">{{post[3].strftime("%Y-%m-%d %H:%M:%S")}}</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  Kirjaudu sisään nähdäksesi julkaisusi
  {% endif %}
{% endblock %}